# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "Library and Dataset Reference: MENDR"
author: Dr. Rachael Sexton
logo: logo.png

only_build_toc_files: true
# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: false

# Define the name of the latex output file for PDF builds
latex:
  latex_engine: tectonic
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/executablebooks/jupyter-book  # Online location of your book
  path_to_book: manual  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true


sphinx:
  extra_extensions:
  - 'sphinx.ext.autodoc'
  - 'sphinx.ext.napoleon'
  - 'sphinx.ext.viewcode'
  # - 'sphinx_autodoc_typehints'
  config: 
    add_module_names: False
    # napoleon_use_param: True
    autodoc_typehints: 'description'
    latex_toplevel_sectioning: 'section'
    html_show_copyright: false
    html_theme_options: 
      extra_footer: |
        <p><em>
        This material is declared a work of the U.S. Government and is not subject to copyright protection in the United States.
        </em></p>
        <p><em>
        Approved for public release; distribution is unlimited.
        </em></p>
      home_page_in_toc: true
      navbar_center:
        - "header.html"
      footer_start:
        - "footer.html"
      logo:
        image_light: logo.png
        image_dark: logo-dark.png
    templates_path: "_templates"
    html_css_files:
      - "nist-combined.css"
parse:
  myst_enable_extensions: 
    - dollarmath
